html,
body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 15px;
    color: #494947;
    font-family: 'Marmelad', cursive;
    background-color: #f4f4f9;
}

.header {
    padding: 10px;
    color: #233d4d;
}

.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.weather-container {
    background-color: #f4f4f9;
    width: 500px;
    height: 270px;
    padding: 10px;
    box-shadow: 0 0 3px 2px #cccccc;
    border-radius: 15px;
    display: none;
    flex-flow: column;
}

.location-info {
    flex: 1;
    text-transform: capitalize;
}

.weather-info {
    flex: 1 1 auto;
    display: flex;
}

.weather-icon {
    text-align: center;
    padding: 46px 0;
}

.weather-icon img {
    height: 80px;
}

.weather-icon p {
    margin: 0;
}

.temp-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2 1 auto;
}

.additional-info {
    padding: 8px 0;
}

.other-info-container {
    background: #e7ecef;
    box-shadow: 0 0 1px 1px #fff;
    padding: 0.5rem;
    flex: 0 1 40%;
    margin: 0.1rem;
    align-self: center;
    opacity: 0.8;
    font-size: 0.9rem;
}

.other-info-title {
    text-align: center;
}

.other-info-title>img {
    height: 20px;
    vertical-align: middle;
}

.other-info-value {
    color: #0f0a0a;
}

#temp {
    font-size: 50px;
}

sup {
    vertical-align: baseline;
    position: relative;
    top: -1rem;
    font-size: 20px;
}

sup a {
    text-decoration: none;
    font-weight: bold;
}

.temp-btn {
    text-decoration: none;
    border-radius: 12px;
    color: #9699a6;
}

#humidity {
    margin-left: 30px;
}

#pressure {
    margin-left: 15px;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f9;
    width: 500px;
    height: 270px;
    padding: 10px;
    box-shadow: 0 0 3px 2px #cccccc;
    border-radius: 15px;
}

.spinner {
    display: none;
    height: 40px;
    width: 40px;
    border: 5px solid;
    border-top-color: #233d4d;
    border-bottom-color: #233d4d;
    border-left-color: #fc5130;
    border-right-color: #233d4d;
    display: block;
    border-radius: 50%;
    animation: spin 2s ease infinite;
    border-left-width: 6px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media (min-width:320px) and (max-width:480px) {
    .container {
        width: 100vw;
        height: 100vh;
        justify-content: initial;
        align-items: initial;
    }

    .header {
        text-align: center;
        padding: 0;
        background-color: #233d4d;
        color: #ffffff;
    }

    .weather-container {
        flex-flow: column nowrap;
        border-radius: 0;
        box-shadow: none;
        width: auto;
        height: auto;
    }

    .location-info {
        text-align: center;
        padding: 15px 0;
    }

    .weather-info {
        flex-flow: column;
    }

    .temp-info {
        order: 1;
        flex: 1 1 auto;
        padding: 50px 0 10px 0;
    }

    .weather-icon {
        order: 2;
        padding: 0;
    }

    .additional-info {
        order: 3;
        padding: 11px 0;
    }

    .other-info-container {
        margin: 1rem;
    }

    .spinner-container {
        width: 95vw;
        height: 100vh;
        border-radius: 0;
    }
}